*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #E5E5E5;
}

/* header */

header{
    display: flex;
    justify-content: center;
    background-color: #562EFF;
}

/* header end */

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    width: 880px;
    height: 94px;
    margin-left: 30px;
    align-items: center;
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;
}

nav img{
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-name{
    font-size: 26px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
}

nav div{
    display: flex;
    align-items: center;
}

nav a:hover{
    color: lightsteelblue;
}

.logo {
    color: #562EFF;
    height: 32px;
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center
}

ul a{
    margin-left: 20px;
}

#icon {
    background-color: #562EFF;
    border: 1px white solid;
    padding: 5px 7px 0px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
    margin-right: 20px;
}

#icon svg {
    color: white;
    height: 33px;
}

#icon:hover {
    background-color: white;
}

#icon:hover svg {
    color: #562EFF;
}

#checkbox, #icon {
    display: none;
}

@media screen and (max-width: 688px) {

    ul {
        position: absolute;
        width: 100%;
        background-color: #3043f5a6;
        left: 0;
        top: 0;
        display: none;
        margin-top: 94px;
    }
    .nav-option{
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }
    
    ul li {
        display: block;
        padding: 10px;
    }

    ul a{
        margin-left: 0px;
    }

    ul li a {
        display: block;
        padding: 10px;
    }

    #icon {
        display: block;
    }

    #checkbox:checked~ul {
        display: block;
    }
}