body{
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}

/* header */

header{
    display: flex;
    justify-content: center;
    background-color: #562EFF;
}

/* header end */

/* nav */

nav{
    width: 890px;
    height: 94px;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

nav img{
    height: 51px;
    display: flex;
    align-items: center;
}

.page-name{
    font-size: 26px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
}

nav div{
    display: flex;
    align-items: center;
}

.nav-option li{
    margin-right: 20px;
}

nav a:hover{
    color: lightsteelblue;
}

#heroicons-menu-icon svg{
    color: white;
    height: 32px;
    display: flex;
    align-items: center;
}

#heroicons-menu-icon:hover svg{
    color: lightsteelblue;
    cursor: pointer;
}

#menu-icon, #heroicons-menu-icon{
    display: none;
}

@media screen and (max-width: 688px) {
    .nav-option{
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        background-color: #562EFF;
        height: 50vh;
        margin-top: 94px;
        display: none;
    }

    .nav-option li img{
        display: block;
    }

    .nav-option li{
        margin: 0%;
        padding: 10px;
    }

    #heroicons-menu-icon{
        display: block;
    }

    #menu-icon:checked~.nav-option{
        display: block;
    }
}